{% assign date = include.date %}
{% assign author = include.author %}
{% assign tags = include.tags %}

<dl class="meta">
	<dt class="meta__item visually-hidden">Opublikowany:</dt>
	<dd class="meta__value"><time datetime="{{ include.date | date: "%Y-%m-%d" }}">{{ include.date | date: "%d-%m-%Y" }}</time></dd>
	{% if author %}
		<dt class="meta__item visually-hidden">Autor:</dt>
		<dd class="meta__value">{{ author }}</dd>
	{% endif %}
	<dt class="meta__item visually-hidden">Kategorie:</dt>
	{% for tag in tags %}
		<dd class="meta__value"><a href="/{{ tag | url_encode }}">{{ site.tagNames[ tag ] }}</a></dd>
	{% endfor %}
</dl>
