{% assign date = include.date %}
{% assign author = include.author %}
{% assign tags = include.tags %}
{% assign project = include.project %}

<dl class="meta">
	<dt class="meta__item"><svg class="meta__icon" aria-hidden="true" width="16" height="16">
			<use href="/assets/icons.svg#published"></use>
		</svg><span
		class="visually-hidden">Opublikowany:</span></dt>
	<dd class="meta__value"><time datetime="{{ date | date: "%Y-%m-%d", "Europe/Warsaw" }}">{{ date | date: "%d.%m.%Y", "Europe/Warsaw" }}</time></dd>
	{% if author %}
		<dt class="meta__item"><svg class="meta__icon" aria-hidden="true" width="16" height="16">
				<use href="/assets/icons.svg#author"></use>
			</svg><span
			class="visually-hidden">Autor:</span></dt>
		<dd class="meta__value">{{ author }}</dd>
	{% endif %}
	{%  if project %}
		<dt class="meta__item"><svg class="meta__icon" aria-hidden="true" width="16" height="16">
				<use href="/assets/icons.svg#project"></use>
			</svg><span
			class="visually-hidden">Projekt:</span></dt>
		<dd class="meta__value"><a href="/projekty/{{ project | escape }}">{{  site.projectNames[ project ] }}</a></dd>
	{% endif %}
	<dt class="meta__item"><svg class="meta__icon" aria-hidden="true" width="16" height="16">
				<use href="/assets/icons.svg#category"></use>
			</svg><span
		class="visually-hidden">Kategorie:</span></dt>
	{% for tag in tags %}
		<dd class="meta__value"><a href="/kategorie/{{ tag | url_encode }}">{{ site.categoryNames[ tag ] }}</a></dd>
	{% endfor %}
</dl>
