{% assign paginator = include.posts %}

<ul class="post-list">
  {% for post in paginator.items %}
    <li class="post-list__post post">
		{% include 'post-metadata' date=post.date author=post.data.author tags=post.data.tags %}

		<h2 class="post__title">
			<a class="post__link" href="{{ post.url }}" rel="bookmark">{{ post.data.title | escape }}</a>
		</h2>

		<div class="post__content">{{ post.content | excerpt }}</div>

		<p class="post__footer">
			<a href="{{ post.url }}">Czytaj całość <span class="visually-hidden">postu {{ post.data.title | escape }}</span> <span aria-hidden="true">»</span></a>
		</p>
    </li>
  {% endfor %}
</ul>

{% include 'paginator' paginator=paginator.href %}
