{% comment %} Apparently increment does not work here… {% endcomment %}
{% if figureCount == null %}
    {% assign figureCount = 1 %}
{% else %}
	{% assign figureCount = figureCount | plus: 1 %}
{% endif %}
<figure class="figure">
	{% if include.link %}
	<a href="{{ include.link }}" rel="noopener noreferrer" class="figure__link">
	{% endif %}
		<img src="{{ include.src }}" alt="{{ include.alt }}" class="figure__image"
			{% if include.style %}
			style="{{ include.style }}"
			{% endif %}
		>
	{% if include.link %}
	</a>
	{% endif %}
	{% if include.caption %}
	<figcaption class="figure__caption">{{ include.caption }}</figcaption>
	{% endif %}
</figure>
