{% assign post=include.post %}
{% include 'post-metadata' date=post.date author=post.data.author tags=post.data.tags %}

<h2>
    <a class="post-link" href="{{ post.url }}" rel="bookmark">{{ post.data.title | escape }}</a>
</h2>

<p>{{ post.content | excerpt }}</p>
<p>
	<a href="{{ post.url }}">Czytaj całość <span class="visually-hidden">postu {{ post.data.title | escape }}</span> <span aria-hidden="true">»</span></a>
</p>
