<!DOCTYPE html>
	<html class="no-js" lang="pl" prefix="og: http://ogp.me/ns#" vocab="http://schema.org">
		{% capture title %}Wpisy z kategorii {{ site.categoryNames[ tag ] | escape }}, strona {{ pagination.pageNumber | plus: 1 }}{% endcapture %}
		{% capture description %}Zachęcam do przeglądnięcia wpisów z kategorii {{ site.categoryNames[ tag ] | escape }} – a nuż coś Cię zaciekawi!{% endcapture %}
		{% include 'head' %}
		<body>
			{% include 'header' %}
			<main id="tresc">
				<hgroup>
					<h1>Wpisy z kategorii {{ site.categoryNames[ tag ] | escape }}</h1>
					<p>Strona {{ pagination.pageNumber | plus: 1 }}</p>
				</hgroup>


				{{ content }}

				{% include 'post-list' posts=pagination %}
				{% include 'rss-subscribe' %}
			</main>
			{% include 'footer' %}
		</body>
	</html>
