<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="/feeds/stylesheet.xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	{% capture selfUrl %}{{ site.url }}/feeds/{% if tag %}kategorie/{{ tag | url_encode }}{% elsif project %}projekty/{{ project | url_encode }}{% else %}feed{% endif %}.xml{%  endcapture %}
	{% capture alternateUrl %}{{ site.url }}/{% if tag %}kategorie/{{ tag | url_encode }}{% elsif project %}projekty/{{ project | url_encode }}{% endif %}{%  endcapture %}
	<link href="{{ selfUrl }}" rel="self" type="application/atom+xml"/>
	<link href="{{ alternateUrl }}" rel="alternate" type="text/html"/>
	<updated>{{ page.date | rfc_date }}</updated>
	<id>{{ selfUrl }}</id>
	<title type="html">Comandeerowy blog</title>
	{% if tag %}
		<category term="{{ site.categoryNames[ tag ] | xml_escape }}"/>
		<subtitle>Kategoria {{ site.categoryNames[ tag ] | xml_escape }}</subtitle>
	{% elsif project %}
		<category term="{{ site.projectNames[ project ] | xml_escape }}"/>
		<subtitle>Projekt {{ site.projectNames[ project ] | xml_escape }}</subtitle>
	{% else %}
		<subtitle>{{ site.description | xml_escape }}</subtitle>
	{% endif %}
	{% if tag %}
		{% assign posts = collections[ tag ] %}
	{% elsif project %}
		{% capture collectionName %}project-{{ project }}{% endcapture %}
		{% assign posts = collections[ collectionName ] %}
	{% else %}
		{% assign posts = collections.posts %}
	{% endif %}
	{% for post in posts limit: 10 %}
		<entry>
			<title type="html">{{ post.data.title | xml_escape }}</title>
			{% if post.data.author %}
				<author>
					<name>{{ post.data.author | xml_escape }}</name>
				</author>
			{% endif %}
			<link href="{{ site.url }}{{ post.url | cfUrl }}" rel="alternate" type="text/html"/>
			<published>{{ post.date | rfc_date }}</published>
			<updated>{{ post.date | rfc_date }}</updated>
			<id>{{ site.url }}{{ post.url | cfUrl }}</id>
			{% if post.data.description %}
				<summary><![CDATA[{{ post.data.description }}]]></summary>
			{% endif %}
			<content type="html" xml:base="{{ site.url }}{{ post.url | cfUrl }}"><![CDATA[{{ post | rss_content }}]]></content>
		</entry>
	{% endfor %}
</feed>
