---
layout: default
---
<div class="home">

  <h1 class="page-heading">Wpisy z kategorii {{ site.tagNames[ tag ] | escape }}</h1>

  {{ content }}

  {% include 'post-list' posts=pagination %}

  <p class="rss-subscribe">
    {% capture rss_link %}/feeds/{{ tag | url_encode }}.xml{% endcapture %}
    <a href="{{ rss_link }}">
      <img src="/assets/rss.png" alt=""> Subskrybuj kategorię {{ site.tagNames[ tag ] }}
    </a>
  </p>

</div>
